<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Documentation Search</title>
    <link rel="stylesheet" href="/search/css/bootstrap.min.css">
</head>
<body>
    {{{body}}}
</body>
</html>
